<form [formGroup]="updatePostForm" (ngSubmit)="updatePost(post)" novalidate>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" color="primary" (click)="dismissModal(null, 'canceled')">Close</ion-button>
      </ion-buttons>
      <ion-title>Modifier un programme</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="primary" [disabled]="updatePostForm.invalid" type="submit">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen *ngIf="post$ | async as post">

    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" formControlName="name" ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="controls['name'].touched && controls['name'].errors?.['minlength']">
      <span>
        Minimum length 2
      </span>
    </ion-text>
    <ion-item lines="full">
      <ion-label position="floating">Description</ion-label>
      <ion-textarea type="text" name="description" formControlName="description" ></ion-textarea>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Owner</ion-label>
      <ion-label>{{ users[1].name }}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Visible au public</ion-label>
      <ion-toggle id="publicToggle" slot="end" [checked]="true"></ion-toggle>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Lecteurs</ion-label>
      <ion-list *ngIf="users$ | async as users">
        <ion-item *ngFor="let user of (users)">{{ user.name }}<ion-button slot="end" (click)="removeReader(post, user)"><ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon></ion-button></ion-item>
      </ion-list>
      <ion-button (click)="openAddReaderModal()">Ajouter un lecteur</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Modificateurs</ion-label>
      <ion-list *ngIf="users$ | async as users">
        <ion-item *ngFor="let user of (users)">{{ user.name }}<ion-button (click)="removeReader(post, user)"><ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon></ion-button></ion-item>
      </ion-list>
      <ion-select placeholder="Ajouter un reader" [multiple]="true">
        <ion-select-option *ngFor="let user of (users)">{{ user.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-content>
</form>
