rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /topics/{topicsId} {
      allow read, write, delete, create, update: if true;
      
      match /posts/{postId} {
      	allow read, write, delete, create, update : if true;
      }
    }
  }
}