<ion-item (click)="navigate()"  routerLinkActive="active" lines="none">
  <ion-label>{{ topic.name }}</ion-label>

</ion-item>

<ion-item-options *ngIf="isWriter()" side="end">
  <ion-item-option (click)="onUpdate.emit(topic)" color="warning">
    <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
  </ion-item-option>

  <ion-item-option *ngIf="isCreator()" (click)="onDelete.emit(topic)" color="danger">
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-item-option>
</ion-item-options>
