<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catégories
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Rechercher une catégorie" (ionChange)="search($any($event.target).value)"></ion-searchbar>
  <ion-list *ngIf="topics$ | async as topics">
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let topic of (topics)">
      <app-topic-list-item [topic]="topic" (onDelete)="delete($event)"></app-topic-list-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openCreateTopicModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
