<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Topics
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!--<ion-searchbar placeholder="Rechercher un topic" (ionChange)="test($any($event.target).value)"></ion-searchbar>-->
  <ion-list *ngIf="topics$ | async as topics">
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let topic of topics">
      <ion-item [routerLink]="['/topic/' + topic.id ]" routerLinkActive="active" lines="none">
        <ion-label>{{ topic.name }}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="delete(topic)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openCreateTopicModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
